<link rel="stylesheet" href="/style.css">
<body class="bg-dark">
    <main class="index">
        <div class="blog-header py-3">
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-5">Directional Wave Basin</h1>
                </div>
            </div>
            <div class="row mb-2 justify-content-center">
                <div class="col-lg-6 mb-3">
                    <div class="card h-100">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h5 class="d-inline-block mb-2 text-primary">Current Status</h5>
                            <h1 class="mb-2 text-dark">{{basinDepth}}</h1>
                            <h2 class="mb-4 text-muted">{{basinProg}}</h2>
                            <h5 class="mb-2 text-info">{{basinTime}}</h5>
                            <h5 class="mb-1 text-info">{{basinUser}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pHmmBQYVPCI?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-warning">
                <div class="col-md-6 px-0">
                    <h1 class="display-5">Graph Goes Here</h1>
                </div>
            </div>
            <div class="row mb-2 justify-content-center">
                {{#if message}}
                <div class="col-lg-6 mb-3">
                    <div class="card h-100">
                        <form>
                            <div class="col p-4 d-flex flex-column position-static">
                                <h5 class="d-inline-block mb-2 text-primary">Set New Target</h5>
                                <div class="form-group">
                                    <label for="inputDepthTarget">Depth Target</label>
                                    <input type="text" class="form-control" type="number"id="inputDepthTarget" placeholder="0.5">
                                </div>
                                <div class="form-group">
                                    <label for="inputOffset">Hour Offset</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Set Target</button>
                            </div>
                        </form>
                    </div>
                </div>
                {{/if}}
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNzdOP3ixd4?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z7V0x92PpXU?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
