<link rel="stylesheet" href="/style.css">
<body  class="bg-dark">
    <main>
        <div class="blog-header py-3">
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-secondary">
                <div class="col-md-6 px-0">
                    <h1 class="display-5">Hinsdale Wave Research Laboratory</h1>
                </div>
            </div>
            <div class="row mb-2 justify-content-center">
                <div class="col-lg-6 mb-3">
                    <div class="card h-100">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ciioaETC6wE?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Large Wave Flume</strong>
                            <h3 class="mb-0 text-dark">{{flumeDepth}}</h3>
                            <div class="mb-1 text-muted">{{flumeProg}}</div>
                                <a href="/large-wave-flume" class="stretched-link text-decoration-none">View Flume</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="card h-100">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pHmmBQYVPCI?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-success">Directional Wave Basin</strong>
                                <h3 class="mb-0 text-dark">{{basinDepth}}</h3>
                                <div class="mb-1 text-muted">{{basinProg}}</div>
                                    <a href="/directional-wave-basin" class="stretched-link text-decoration-none">View Basin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jumbotron p-4 p-md-5 text-white rounded bg-secondary">
                        <div class="col-md-6 px-0">
                            <p class="lead my-3">The O.H. Hinsdale Wave Research Laboratory provides outstanding research and testing at the largest nearshore experimental facility at an academic institution in the US.</p>
                            <p class="lead mb-0"><a href="/live" class="text-white font-weight-bold">View Facilities</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>