<link rel="stylesheet" href="/oldstyle.css">
<body>
    <main class="index">
        <div class="page-title">
            <h1>Current Activity</h1>
            {{#if message}}
                <h1>Admin Mode</h1>
            {{/if}}
        </div>
        <div class="page-content">
            <div class="activity-container">
                <a href="/large-wave-flume"><span class="pool-name">Large Wave Flume</span><span class="pool-name-in-between"> is currently filled to </span><span class="fill-level">0.3225m</span></a>
            </div>
            <div class="activity-container">
                <a href="/directional-wave-basin"><span class="pool-name">Directional Wave Basin</span><span class="pool-name-in-between"> is currently filled to </span><span class="fill-level">1.00m</span></a>
            </div>
        </div>
    </main>
</body>

</html>