<link rel="stylesheet" href="/style.css">
<body>
    <main class="index">
        <div class="page-title">
            <h1>Current Activity</h1>
        </div>
        <div class="page-content">
            <a href="/large-wave-flume"><span class="pool-name">Large Wave Flume</span><span class="pool-name-in-between"> is currently filled to </span><span class="fill-level">6.9m</span></a>
            <a href="/directional-wave-basin"><span class="pool-name">Directional Wave Basin</span><span class="pool-name-in-between"> is currently filled to </span><span class="fill-level">4.20m</span></a>
        </div>
    </main>
</body>

</html>