<link rel="stylesheet" href="/oldstyle.css">
<body>
    <main class="index">
        <div class="blog-header py-3">
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Hinsdale Wave Research Laboratory</h1>
                        <p class="lead my-3">The O.H. Hinsdale Wave Research Laboratory provides outstanding research and testing at the largest nearshore experimental facility at an academic institution in the US.</p>
                        <p class="lead mb-0"><a href="/live" class="text-white font-weight-bold">View Flumes</a></p>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col-lg-5 mb-3">
                        <div class="card h-100">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ciioaETC6wE?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">Large Wave Flume</strong>
                                <h3 class="mb-0 text-dark">Currently 2.49m</h3>
                                <div class="mb-1 text-muted">Filling to 2.6m</div>
                                    <a href="/large-wave-flume" class="stretched-link text-decoration-none">View Flume</a>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-5 mb-3">
                        <div class="card h-100">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pHmmBQYVPCI?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-success">Directional Wave Basin</strong>
                                <h3 class="mb-0 text-dark">Filled to 0.338m</h3>
                                <div class="mb-1 text-muted">Completed at 4:08AM</div>
                                    <a href="/directional-wave-basin" class="stretched-link text-decoration-none">View Flume</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>