<link rel="stylesheet" href="/style.css">
<body>
        <div class="album py-5 bg-dark">
            <div class="jumbotron jumbotron-fluid py-5 bg-dark">
                <div class="container">
                    <h1 class="display-4">Wave Views</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ciioaETC6wE?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Above Bay 10</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/large-wave-flume'">View</button>
                                    </div>
                                    <small class="text-muted">Large Wave Flume</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V3JsFPQA6YQ?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Above Bay 14</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/large-wave-flume'">View</button>
                                    </div>
                                    <small class="text-muted">Large Wave Flume</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VCluhS3RJpI?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <p class="card-text">North Wall</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/large-wave-flume'">View</button>
                                    </div>
                                    <small class="text-muted">Large Wave Flume</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pHmmBQYVPCI?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <p class="card-text">North Wall</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/directional-wave-basin'">View</button>
                                    </div>
                                    <small class="text-muted">Directional Wave Basin</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xNzdOP3ixd4?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <p class="card-text">West Wall</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/directional-wave-basin'">View</button>
                                    </div>
                                    <small class="text-muted">Directional Wave Basin</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z7V0x92PpXU?autoplay=1&mute=1&controls=0&modestbranding" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Northwest Corner</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/directional-wave-basin'">View</button>
                                    </div>
                                    <small class="text-muted">Directional Wave Basin</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>