<link rel="stylesheet" href="/style.css">
<body>
    <main class="index">
        <div class="page-title">
            <h1>Live Views</h1>
        </div>
        <div class="live-container">


            <div class="live-viewpage-container">
                <div class="live-viewpage">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ciioaETC6wE?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
                <h2 class="video-title">Large Wave Flume - Above Bay 10</h2>
            </div>

            <div class="live-viewpage-container">
                <div class="live-viewpage">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/V3JsFPQA6YQ?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
                <h2 class="video-title">Large Wave Flume - Above Bay 14</h2>
            </div>

            <div class="live-viewpage-container">
                <div class="live-viewpage">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VCluhS3RJpI?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
                <h2 class="video-title">Large Wave Flume - North Wall</h2>
            </div>

            <div class="live-viewpage-container">
                <div class="live-viewpage">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pHmmBQYVPCI?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
                <h2 class="video-title">Directional Wave Basin - North Wall</h2>
            </div>

            <div class="live-viewpage-container">
                <div class="live-viewpage">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xNzdOP3ixd4?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
                <h2 class="video-title">Directional Wave Basin - West Wall</h2>
            </div>

            <div class="live-viewpage-container">
                <div class="live-viewpage">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z7V0x92PpXU?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
                <h2 class="video-title">Directional Wave Basin - NW Corner</h2>
            </div>
            
        </div>
    </main>
</body>

</html>