<link rel="stylesheet" href="/oldstyle.css">
<body>
    <main class="index">
        <div class="page-title">
            <h1>Live Views</h1>
        </div>
        <div class="live-container">


            <div class="live-viewpage-container">
                <a class="video-title" href="/large-wave-flume">Large Wave Flume - Above Bay 10</a>
                <div class="live-viewpage">
                    <iframe width="512" height="288" src="https://www.youtube.com/embed/ciioaETC6wE?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="live-viewpage-container">
                <a class="video-title" href="/large-wave-flume">Large Wave Flume - Above Bay 14</a>
                <div class="live-viewpage">
                    <iframe width="512" height="288" src="https://www.youtube.com/embed/V3JsFPQA6YQ?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="live-viewpage-container">
                <a class="video-title" href="/large-wave-flume">Large Wave Flume - North Wall</a>
                <div class="live-viewpage">
                    <iframe width="512" height="288" src="https://www.youtube.com/embed/VCluhS3RJpI?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="live-viewpage-container">
                <a class="video-title" href="/directional-wave-basin">Directional Wave Basin - North Wall</a>
                <div class="live-viewpage">
                    <iframe width="512" height="288" src="https://www.youtube.com/embed/pHmmBQYVPCI?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="live-viewpage-container">
                <a class="video-title" href="/directional-wave-basin">Directional Wave Basin - West Wall</a>
                <div class="live-viewpage">
                    <iframe width="512" height="288" src="https://www.youtube.com/embed/xNzdOP3ixd4?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="live-viewpage-container">
                <a class="video-title" href="/directional-wave-basin">Directional Wave Basin - NW Corner</a>
                <div class="live-viewpage">
                    <iframe width="512" height="288" src="https://www.youtube.com/embed/Z7V0x92PpXU?autoplay=1&mute=1&controls=0&modestbranding" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            
        </div>
    </main>
</body>

</html>