<link rel="stylesheet" href="/style.css">
<body>
    <main class="index">
        <div id="login-modal" class="modal">
            <div class="page-title">
                <h1>Login</h1>
            </div>
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                    <div class="login-form">
                        <form action="" method="POST">
                            <div class="login-box">
                                <div class="login-input-label">
                                    <label>Username</label>
                                </div>
                                <input type="text" name="username" class="login-input-field" required="required"/>
                            </div>

                            <div class="login-box">
                                <div class="login-input-label">
                                    <label>Password</label>
                                </div>
                                <input type="password" name="password" class="login-input-field" required="required"/>
                            </div>
                            
                            <center><button name="login" class="login-button"></span>Login</button></center>
                        </form>
                        <br>
                        <?php include 'login.php'?>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Get the modal
            var modal = document.getElementById("login-modal");

            // Get the button that opens the modal
            var btn = document.getElementById("login-modal-button");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </main>
</body>

</html>