<link rel="stylesheet" href="/style.css">
<body>
    <main class="index">
        <div class="page-title">
            <h1>Login</h1>
        </div>
        <div class="page-content">
            <div>
                <div class="login-form">
                    <form action="" method="POST">
                        <div class="login-box">
                            <label class="login-input-label">Username</label>
                            <input type="text" name="username" class="login-input-field" required="required"/>
                        </div>

                        <div class="login-box">
                            <label class="login-input-label">Password</label>
                            <input type="password" name="password" class="login-input-field" required="required"/>
                        </div>
                        
                        <center><button name="login" class="login-button"></span> Login</button></center>
                    </form>
                    <br>
                    <?php include 'login.php'?>
                </div>
            </div>
        </div>
    </main>
</body>

</html>