<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hinsdale Wave App</title>

    <link rel="stylesheet" href="/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" charset="utf-8" defer></script>
    
  </head>
  <body>
    <header>
      <div class="title-bar-container">
        <div class="title-bar-logo-container">
          <a href="/"><img src="/logo.png" alt="Logo"></a>
        </div>
        <div class="title-bar-text-container">
          <li><a href="/large-wave-flume">Large Wave Flume</a></li>
          <li><a href="/directional-wave-basin">Directional Wave Basin</a></li>
          <li><a href="/live">Live Views</a></li>
          <li><a href="/login-authentication">Login</a></li>
        </div>
      </div>

    </header>
  
    {{{body}}}

    <div class="footer">

      <ul id="bottom-bar">
       
      </ul>

      <ul id="address-bar">

      </ul>

    </div>
  </body>
</html>