<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hinsdale Wave App</title>

    <link rel="stylesheet" href="/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" charset="utf-8" defer></script>
    
  </head>
  <body>
    <header>
      <div class="title-bar-container">
        <div class="title-bar-logo-container">
          <a href="/"><img src="/logo.png" alt="Logo"></a>
        </div>
        <div class="title-bar-text-container">
          <li><a href="/large-wave-flume">Large Wave Flume</a></li>
          <li><a href="/directional-wave-basin">Directional Wave Basin</a></li>
          <li><a href="/live">Live Views</a></li>
          <li><button id="login-modal-button">Login</button></li>
          <div id="login-modal" class="modal">
            <div class="page-title">
                <h1>Login</h1>
            </div>
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                    <div class="login-form">
                        <form action="" method="POST">
                            <div class="login-box">
                                <div class="login-input-label">
                                    <label>Username</label>
                                </div>
                                <input type="text" name="username" class="login-input-field" required="required"/>
                            </div>

                            <div class="login-box">
                                <div class="login-input-label">
                                    <label>Password</label>
                                </div>
                                <input type="password" name="password" class="login-input-field" required="required"/>
                            </div>
                            
                            <center><button name="login" class="login-button"></span>Login</button></center>
                        </form>
                        <br>
                        <?php include 'login.php'?>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Get the modal
            var modal = document.getElementById("login-modal");

            // Get the button that opens the modal
            var btn = document.getElementById("login-modal-button");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
        </div>
      </div>

    </header>
  
    {{{body}}}

    <div class="footer">

      <ul id="bottom-bar">
       
      </ul>

      <ul id="address-bar">

      </ul>

    </div>
  </body>
</html>